<footer class="container-fluid text-center" id="contact">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <a href="https://www.linkedin.com/in/charles-barry/" class="fa fa-linkedin" target="_blank"></a>
            <a href="https://github.com/doodleblob" class="fa fa-github" target="_blank"></a>
        </div>
    </div>
</footer>