<html lang="en">
    
  <%- include('partials/head') %>

  <body>
      <header>

      </header>

      <%= errorcode %>
      <%= errormessage %>

      <footer>

      </footer>

  </body>

</html>