<html lang="en">
    
  <%- include('partials/head') %>

  <body>
      <div id="home">
          <%= errorcode %>
          <%= errormessage %>
      </div>
  </body>

  <%- include('partials/foot') %>

</html>