<html lang="en">
    <head>
		<meta charset="utf-8">
		<title><%= errorcode %></title>
		<meta name="description" content="Charles Barry's Portfolio Website">
		<meta name="author" content="Charles Barry">

    </head>

    <body>
        <header>

        </header>

        <%= errorcode %>
        <%= errormessage %>

        <footer>

        </footer>

    </body>

</html>