<html lang="en">

    <%- include('partials/head') %>

    <body>
        <header>

        </header>

        <h1>Charles Barry</h1>

        <h2>About Me</h2>

        <h2>Skills</h2>

        <h2>Projects</h2>


        <h2>Blog</h2>


        <footer>

        </footer>

    </body>

</html>