@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body {
  height: 100%;
  width: 100%;
  font-family: Inter !important;
}

section {
  padding: 80px 0;
}

/* navbar */
.navbar {
  z-index: 1000;
  background-color: #2e2c3a;
}
.navbar .nav-link{
  color: #FFFAFA;
}
.navbar .nav-link:hover{
  color: #1db096;
}
.navbar-nav > li{
  padding-left:7px;
  padding-right:7px;
}

/* main page */
/* -- splash */
#home {
  display: table;
  height: calc(100% - 56px);
  position: relative;
  width: 100%;
  background-size: cover;
}
.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.landing-text h1 {
  font-size: 500%;
  margin-left:10px;
  margin-right:10px;
}
.continue {
  font-size: 8vh;
  width: fit-content;
}
.continue:hover {
  color: #1db096;
}

/* -- skills */
#skills {
  text-align: center;
  background-color: #2e2c3a;
}
#skills .card {
  height: fit-content;
  width: 150px;
  color: black;
}
#skills img {
  height: 70px;
  width: 70px;
}
/* -- about */
#about-img {
  display: inline-block; 
  position: relative; 
  width: 300px; 
  height: 300px; 
  overflow: hidden; 
  border-radius: 50%;
  margin-bottom: 20px;
  background: url(../img/lain-wired.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 50%;
}
#about-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

/* footer */
footer {
  width: 100%;
  background-color: #2e2c3a;
  padding: 5% 5% 10% 5%;
  color: white;
}
footer .fa {
  padding: 15px;
  font-size: 25px;
  color: white;
  text-decoration: none;
}
footer .fa:hover {
  text-decoration: none;
  color: #1db096;
}

/* mobile */
@media (max-width: 768px) {
  .landing-text h1{
    font-size: 300%;
  }
  footer .fa {
    font-size: 20px;
    padding: 10px;
  }




}